@{
    ViewData["Title"] = "Home Page";
}


<div class="container pt-5 mt-5">
    <div class="text-center pt-5 jumbotron">
        <h1>Welcome To <br /> GTR Documentation App</h1>
        
    </div>
</div>

